
.btn{
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: yellow;
    color:black;
    font-family: sans-serif;
  

}

.primary {
    background-color: red;
    color: white;
}

.secondary {
    background-color: green;
    color: white;
}